:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #3a3535;
  --grayUltraLight: #faf8f8;
  --grayLight: #c4c4c4;
  --blue: #45babc;
  --blueDark: #024c67;
  --orange: #f37121;
  --yellow: #fbd00c;
}
