:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #3a3535;
  --grayUltraLight: #E5E5E5;
  --grayLight: #c4c4c4;
  --blue: #45babc;
  --blueDark: #024C67;
  --orange: #f37121;
  --yellow: #fbd00c;
}
