@import "colors.css"

.header
    padding: 40px 0 10px 0
    z-index: 1
    .nav
        justify-content: flex-end
    .nav-ul
        justify-content: flex-end
        gap: 24px
        z-index: 1
        transition: all 1000ms
        &.mobile
            display: block
            right: -200px
            flex-direction: column
            position: absolute
            background-color: var(--white)
            padding: 24px 32px 14px 32px
            border-radius: 20px
            top: 53px
            .nav-link
                color: var(--blue)
            .nav-li
                align-items: flex-start
                gap: 16px
            .FAQ
                display: none

    .nav-li
        display: flex
        flex-direction: column
        align-items: center
        gap: 10px
        &:hover, .active
            .underline
                visibility: visible
    .lang
        cursor: pointer
        &::after
            content: ''
            display: block
            background-color: var(--blue)
            border: 10px solid transparent
            border-top: 10px solid var(--white)
            margin: 6px 0 0 6px
    .underline
        width: 100px
        visibility: hidden
    .burger
        display: none
        background: none
        border: none
    .lines
        flex-direction: column
        gap: 3px
        cursor: pointer
        align-items: center
        justify-content: center
        .line
            display: block
            width: 20px
            height: 3px
            border-radius: 20px 
            transform: matrix(1, 0, 0, -1, 0, 0)
            transition: all 200ms
        &.opened
            .line:nth-child(1)
                transform: rotate(45deg)
                margin-top: 6px
            .line:nth-child(2)
                display: none
            .line:nth-child(3)
                transform: rotate(-45deg)
                margin-top: -6px
 
@media screen and ( max-width: 997px )
    .header
        .nav-ul
            gap: 15px
        .nav-link
            font-size: 18px
        .underline
            width: 60px
        .lang
            font-size: 18px
            &::after
                margin-top: 4px

@media screen and ( max-width: 774px )
    .header
        padding: 20px 0 10px 0
        .nav
            align-items: flex-start
        .nav-ul
            display: none
            &.mobile
                right: 20px
        .burger
            display: block
        .lang
            margin-right: 10px

    
        
            