@import 'colors.css'

.hero
    padding: 200px 0 0 0
    position: relative
    overflow: hidden
    .hero-img 
        &.lg
            transform: translateY(-50px)
        &.sm 
            display: none
    .container
        position: absolute
        left: 50%
        top: 38%
        transform: translateX(-50%)
    .content-container
        position: relative
        width: 100%
    .content
        padding-top: 100px
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 50px
        display: flex
        flex-direction: column
        justify-content: center
        gap: 20px
        .title-wrapper
            flex-direction: column
            grid-gap: 20px
        p
            text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.25)
        .one
            transform: rotate(-20deg) translate(130px,-20px)
        .box
            transform: rotate(9deg) translate(40px, 10px)
        .happiness
            transform: rotate(-9deg) translate(0,-10px)
        .btn
            margin-left: auto
            position: initial
            z-index: 1
            
    .white-line
        position: absolute
        bottom: -1px
        right: 65px

@media screen and ( max-width: 1260px )
    .hero
        .container
            gap: 180px
        .content
            .one
                transform: rotate(-20deg) translate(90px,-20px)
        .c-white, .c-orange
            @include fontSize(36)
        .c-yellow
            @include fontSize(44)


@media screen and ( max-width: 768px )
    .hero
        padding: 0
        .hero-img
            &.lg 
                display: none
            &.sm
                display: block
                transform: translateY(45px)
        .btn, .orange
            display: none
        .content
            padding-top: 32vw
            position: initial
            text-align: right
            .one 
                transform: rotate(-20deg) translate(-18px,-3px)
            .title-wrapper
                flex-direction: row
                justify-content: flex-end
            .c-yellow
                transform: initial
            .c-orange
                transform: initial
        .white-line
            display: none

@media screen and ( max-width: 667px )
    .hero
        .content
            padding-top: 40vw
            gap: 10px
            .title-wrapper
                gap: 0px
    
@media screen and ( max-width: 520px )
    .hero
        .hero-img
            transform: translate(50px)
        .c-white, .c-orange
            @include fontSize(24)
        .c-yellow
            @include fontSize(32)
    
            